.list-win {
  .row-title {
    color: rgba(0, 0, 0, 0.65);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

    .row-data-num {
      text-align: left;
    }
    .row-data-muti {
      text-align: left;
    }
    .row-data-nu {
      text-align: center; 
    }
    .row-data-probability {
      text-align: left;
    }
  }
  .row-data {
    margin-top: 8px;
    .row-data-num {
      font-family: HeadLineA;
      color: #000; 
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .row-data-muti {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .row-data-nu {
      color: #000; 
      text-align: center; 
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .row-data-probability {
      color: #000;
      text-align: left;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
