:root {
  --nutui-avatar-large-width: 80px; //	大尺寸头像的宽度
  --nutui-avatar-large-height: 80px; //	大尺寸头像的高度
  --nutui-avatar-small-width: 24px; //	小尺寸头像的宽度
  --nutui-avatar-small-height: 24px; //	小尺寸头像的高度
  --nutui-avatar-normal-width: 40px; //	正常尺寸头像的宽度
  --nutui-avatar-normal-height: 40px; //	正常尺寸头像的高度
}