.win-num-box-container {
  display: flex;
  width: 100%;

  .win-num-box {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;

    .win-num-box-bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      border-top: 2px solid #000;
      background-color: #867aa0;
    }

    .win-num-box-content {
      width: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .win-num-box-content-top {
        height: 14px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #000;
        text-align: right;
        font-family: "PingFang SC";
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }

      .win-num-box-content-center {
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #000;

        text-align: center;
        font-family: "Retro Pixel Petty 5x5";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .win-num-box-content-bottom {
        height: 20px;
        margin-top: 4px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #000;

        text-align: center;
        font-family: "PingFang SC";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
      .win-num-box-content-bottom1 {
        height: 20px;
        margin-top: 4px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #000;

        text-align: center;
        font-family: "PingFang SC";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }

  .win-num-box-n {
    background-color: #f9ebe7;
  }

  .win-num-box-a {
    background-color: #b3a4d3;
  }

  .num-box-con {
    border: 2px solid #000;
    position: relative;
    max-height: 300px;
    overflow-y: auto;
    padding: 0px 0 4px 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff1e8;

    .num-box-item {
      margin-right: 3px;
      margin-top: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 40px;
      height: 32px;
      flex-shrink: 0;

      .num-box-item-title {
        color: #000;

        text-align: center;
        font-family: "PingFang SC";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .num-box-item-info {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .num-box-item-a {
      background: #c2c3c7;
    }
    .num-box-item-b {
      background: #b3a4d3;
    }
  }

  .nut-overlay {
    background: var(
      --nutui-overlay-bg-color,
      var(--nutui-black-10, rgba(0, 0, 0, 0.25))
    );
    z-index: 100;
  }
}

.win-num-box-container-popover {
  z-index: 101;
  width: 320px; 
  display: flex;
  align-items: center;
  justify-content: center;

  .win-num-box-container-list {
    background-color: #fff1e8;
  }
}
