.page-play {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 占满视口高度 */

  /* 顶部区域，固定高度 */
  .page-play-top {
    flex-shrink: 0; /* 不允许高度被挤压 */
  }

  /* 中间区域，设置 sticky 使其在页面滚动时固定 */
  .page-play-middle {
    position: -webkit-sticky;
    position: sticky; /* 使用 sticky 来固定中间区域 */
    top: 0; /* 当滚动到顶部时才会固定 */
    z-index: 1; /* 确保中间部分位于滚动内容上方 */

    flex-shrink: 0; /* 不允许被压缩 */
  }
  .list-play-v2-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-play-v2-title {
      color: #000;
      font-family: "Retro Pixel Petty 5x5";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .list-play-v2-tips {
      color: rgba(0, 0, 0, 0.25);
      text-align: right;
      font-family: "PingFang SC";
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  /* 底部区域，自适应高度并且可以滚动 */
  .page-play-bottom {
    flex: 1; /* 占据剩余的空间 */
    overflow-y: auto; /* 添加滚动条 */

    position: relative; /* 确保 sticky 的行为正确 */

    /* 滚动内容样式 */
    .page-play-bottom-scroll-content {
      text-align: center;
      font-size: 1rem;
    }

    
  }
}
